{<<"links">>,[{<<"GitHub">>,<<"https://github.com/plausible/ch">>}]}.
{<<"name">>,<<"ch">>}.
{<<"version">>,<<"0.2.6">>}.
{<<"description">>,<<"HTTP ClickHouse driver for Elixir">>}.
{<<"elixir">>,<<"~> 1.14">>}.
{<<"app">>,<<"ch">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"mint">>},
   {<<"app">>,<<"mint">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"db_connection">>},
   {<<"app">>,<<"db_connection">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"jason">>},
   {<<"app">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"decimal">>},
   {<<"app">>,<<"decimal">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"ecto">>},
   {<<"app">>,<<"ecto">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 3.5">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"files">>,
 [<<"lib">>,<<"lib/ch.ex">>,<<"lib/ch">>,<<"lib/ch/stream.ex">>,
  <<"lib/ch/types.ex">>,<<"lib/ch/error.ex">>,<<"lib/ch/row_binary.ex">>,
  <<"lib/ch/query.ex">>,<<"lib/ch/result.ex">>,<<"lib/ch/connection.ex">>,
  <<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>]}.
{<<"build_tools">>,[<<"mix">>]}.
